@font-face {
  font-family: "TTLakes";
  src: url(./assets/font/TTLakes/TTLakes-Regular.woff),
    url(./assets/font/TTLakes/TTLakes-Black.woff);
}
body {
  font-family: "TTLakes";
  font-weight: normal;
  margin: 0;
  font-size: 16px;
  background-color: antiquewhite;
}
.container {
  background-color: wheat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 320px;
  height: 100vh;
  min-height: 560px;
  border-right: solid gainsboro;
  box-shadow: 30px 0 8px -5px gainsboro;
}
.icons-top {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 1em;
  padding: 1em;
  padding-left: 1em;
}
.icons {
  width: 2.5em;
}
.icons-top__search {
  translate: 85px;
}
.navigation__menu {
  list-style-type: none;
}
.navigation__elem + .navigation__elem {
  margin-top: 1em;
}
.navigation__elem {
  translate: -42px;
  padding-left: 1.5em;
}
.navigation__elem:hover {
  color: gray;
  padding-left: 1.2em;
  border-left: 5px solid cyan;
}
.icons-bottom {
  display: flex;
  align-items: center;
  margin-left: 1.5em;
  gap: 1.5em;
}
.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 1.5em;
}
.lang {
  list-style-type: none;
  display: flex;
  justify-content: start;
  gap: 1.5em;
  translate: -15px;
}
.lang__elem:hover {
  font-weight: bold;
}
.number {
  font-weight: bold;
}
